@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
}
header {
    width: auto;
    height: 100px;
    background-color: rgb(121, 163, 253);
}
header > h1 {
    padding: 15px 40px 0px 40px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
header > h2 {
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
}
body {
    background-color: rgb(207, 205, 205);
}
table{
    width: auto;
    height: 60px;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    font-size: 0.9em;
}
thead > tr > th {
    position: relative;
    background-color: rgb(161, 159, 159);
}
caption{
    font-size: 1.2em;
    padding-top: 10px;
}
td.diametro{
    background-color:rgb(161, 159, 159);
    width: 90px;
}
th.none{
    border-top: none;
    border-left: none;
    background-color: white;
}
td, th {
    border: solid black;
    padding: 7px;
}
main {
    display: block;
    margin: 20px auto;
    min-width: 355px;
    max-width: 600px;
    background-color: white;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
div > h1 {
    background-color: rgb(121, 163, 253);
    text-align: center;
    color: white;
    border-radius: 5px 5px 0px 0px;
}
div > h2 {
    padding: 2px;
    text-align: justify;
    font-size: 1em;
}
div #item {
    min-width: 200px;
    max-width: 600px ;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    margin: 10px 20%;
}
main > h2 {
    padding: 5px 20px 10px 20px;
    text-align: center;
}

div.valores {
    min-width: 100px;
    max-width: 300px ;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    margin: 10px 40%;
}
div.diameter {
    margin: auto;
    padding: 10px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

div.diameter > h2 {
    display: inline-block;
    text-align: center;
}
div.diameter#resultado2{
    padding: 10px;
}
footer{
    background-color: rgb(66, 113, 216); 
    color: white;
    text-align: center;
}